<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Video Game</title>
   
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about" style="padding-left:50px">About</a></li>
            <li><a href="/games" style="padding-left:50px">Games</a></li>
            
        </ul>
    </nav>
    <div class="card-container">
        {% for g in games %}
        <div class="card">
            <h2>{{g[0]}}</h2>
           <p>Platform :{{g[1]}}</p> 
           <p>Release Date : {{g[2]}}</p>
           {% if g[3] %}
           <!-- Slice the description to show only the first 50 characters -->
            <p>Description: {{g[3][:50]}}....</p>
                {% else %}
            <p>Description: N/A</p>
            {% endif %}
            <p>Rating : {{g[4]}}</p>
        </div>
        {% endfor %}
    </div>
    

</body>
</html>
