<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  
</head>
<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/games">Games</a></li>
        </ul>
    </nav>
    <h2 style = "font-family: Arial, sans-serif;  color: #f2f2f2; margin-left: 50px;">About the Dataset</h2>
    <p style = "font-family: Arial, sans-serif;  color: #f2f2f2; margin: 50px;">This dataset offers a detailed overview of video games across various platforms. It encompasses a broad range 
        of information, making it a valuable resource for understanding the evolution, popularity, and thematic diversity of video games. Ideal for analysis of gaming trends, player preferences, 
        and platform-specific dynamics, this dataset is a key tool for researchers, game developers, and market analysts.</p>
    <h2 style = "font-family: Arial, sans-serif;  color: #f2f2f2; margin-left: 50px;">Features</h2>
    <ul>
        <li style = "font-family: Arial, sans-serif;  color: whitesmoke; margin-left: 50px; padding-top: 10px;">
            <b>name:</b> The title of the video game.
        </li>
        <li style = "font-family: Arial, sans-serif;  color:whitesmoke; margin-left: 50px; padding-top: 10px;">
            <b>Platform:</b> The gaming platform on which the game is available (e.g., PlayStation, Xbox).
        </li>
        <li style = "font-family: Arial, sans-serif;  color: whitesmoke; margin-left: 50px; padding-top: 10px;">
            <b>release_date:</b>The date when the game was released.
        </li>
        <li style = "font-family: Arial, sans-serif;  color: whitesmoke; margin-left: 50px; padding-top: 10px;">
            <b>summary:</b>A brief description or summary of the game's storyline or key features.
        </li>
        <li style = "font-family: Arial, sans-serif;  color: whitesmoke; margin-left: 50px; padding-top: 10px;">
            <b>user_review:</b>User review rating, indicating the game's reception and popularity.
        </li>
    </ul>

</body>
</html>
